<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDKeychainBindingsControllerIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PDKeychainBindingsControlleriOSExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PDKeychainBindingsControlleriOSExampleTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D07B6E313F0C34C007D98DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D39ABDEE13CA80D90078DA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D39ABE0D13CA80D90078DA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D39ABE2613CA81090078DA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D39ABE4513CA81090078DA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
